.historyItemcontent {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-bottom: 1.2rem;
    border-radius: 50px;
    padding: 12px 5px;
    justify-content: start;
    cursor: pointer;
}

.texthistoryitem {
    font-size: .9rem;
    color: var(--color-46);
}

.iconitemhis {
    margin: 0 10px;
    color: var(--color-main-3);
}