* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}


main {
    display: block;
}


h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}


pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}


abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}


b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}



button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}



button,
input {
    overflow: visible;
}



button,
select {
    text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}


textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}


[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

:root {
    /* main-color */

    --color-main-1: #E9E9E8;
    --color-main-2: #FCFCFA;
    --color-main-3: #006A61;
    --color-main-4: #1F211F;

    /* white */
    --color-1: #f8f8f8;
    --color-2: #f0f8ff;
    --color-3: #fafafa;
    --color-4: #f1eff2;
    --color-5: #fbfbfb;
    --color-6: #FFFFF0;
    --color-7: #fffafa;
    /* black */
    --color-8: #000;
    --color-9: #1F211F;
    --color-10: #12171D;
    --color-11: #121212;
    --color-12: #0B0B0C;
    --color-13: #0E0E10;
    --color-14: #333333;
    --color-15: #303030;
    --color-16: #2B2B2B;
    --color-17: #1F1F1F;
    --color-18: #1B1C1E;

    /* gray */
    --color-19: #F3F5F9;
    --color-20: #F2F7F8;
    --color-21: #9F9F9F;
    --color-22: #E5E5E5;
    --color-23: #EDF2F4;
    --color-24: #EDF6F9;
    --color-25: #F0EBD8;
    --color-26: #F2F2F2;
    --color-27: #F7F7F7;
    --color-28: #F9F9F9;
    --color-46: #828282;
    /* neon */

    --color-29: #E7F53C;
    --color-30: #89FFD9;
    --color-31: #CCFFEE;

    /* purple */

    --color-32: #6955E8;
    --color-33: #4C6FFF;
    --color-34: #7885FF;
    --color-35: #9EBAFF;
    --color-36: #B7C8E9;

    /* green */
    --color-37: #215247;
    --color-38: #A8C1BE;
    --color-39: #AFC8C0;
    --color-40: #B6C6C7;
    --color-41: #E6F2EB;
    --color-42: #02A47B;
    --color-43: #00C494;

    /* orange */

    --color-44: #F1A07E;
    --color-45: #FF8845;
}